[Unit]
Description=Thermaltake LEDFanBox Controller
After=network.target

[Service]
Type=simple
# Change this to your username
User=brad
ExecStart=/usr/local/bin/thermaltake-ledfanbox --speed 50 --rgb 0 255 0 --mode static
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
